* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  // шрифты https://fonts.google.com/specimen/Noto+Sans?sidebar.open=true&selection.family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700
  body {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
  
  ul {
  list-style-type: none;
  }

  // шаблон для описания компонента теории

  // класс для выделения кода теории
  .template-code-component {
  background: #e7ecf3;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
 display: flex;
 justify-content: center;
}
// класс для заголовка компонента теории
.template-title-component {
  color: #73abfe;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
// класс для определения компонента теории
.template-discription-component {
    border-radius: 10px;
  padding: 15px;
   margin: 15px;
  background: #dc3545;
  color: #ffffff;
  font-weight: bold;
}
// класс для обычного текста компонента теории
.template-text-component {
  padding: 15px;
   margin: 15px;

  border: solid 5px powderblue;
}