.router-link-active {
  // color: #2fa06d;
  color: #dc3545;
  font-weight: 700;
}

.main-left-sidebar__search {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  background: #71bec9;
  border: none;
  border-radius: 15px;
}

.main-left-sidebar__search::placeholder {
color: #007bff;
font-size: 16px;
font-weight: 700;
}

.list-links-theory__list-link-theory:first-child,
.list-links-projects__list-link-theory:first-child,
.list-links-projects__list-link-theory-vue:first-child {
  padding-top: 3px;
}

.list-links-theory__list-link-theory,
.list-links-projects__list-link-theory,
.list-links-projects__list-link-theory-vue {
  padding-left: 15px;
  padding-bottom: 3px;
  font-size: 15px;
}

.category-mini-projects {
font-weight: 700;
font-size: 20px;
color: #000000;
}

.category-theory-js__title {
color: #35495e;
font-weight: 700;
font-size: 20px;
}

.category-theory-vue__title {
color: #35495e;
font-weight: 700;
font-size: 20px;
margin-top: 5px;
margin-bottom: 5px;
}

.category-mini-projects:hover,
.category-theory-vue__title:hover,
.category-theory-js__title:hover {
  cursor: pointer;
  color: #1dc579;
  transition: 0.5s;
}

.button-close-category {
  width: 100%;
  padding:10px;
  margin-bottom:15px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  display: none;
  background: rgb(113, 190, 201);
  border:none;
  border-radius: 5px;
}

.button-close-category:hover {
  background: rgb(93, 191, 206);
  transition: 0.5s;
  color: #ffffff;
  -webkit-box-shadow: 4px 4px 30px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 30px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 30px 0px rgba(34, 60, 80, 0.2);
}
// 
.nothing-found {
  color: #dc3545;
  font-size: 16px;
  font-weight: 700;
  background: #fff3cd;
  padding: 5px;
}

.wrapper-search-close {
  position: relative;
}

.btnCleanSearch {
  position: absolute;
  top: 8px;
  right: 8px;
  width:25px;
  height: 25px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 50%;
  font-weight: 700;
  padding-top: 1px;
}

.btnCleanSearch:hover {
  cursor: pointer;
  transition: 0.5s;
  background: #dc3545;
}

.btnCleanSearch:active {
background: #cc8e95;
transition: none;
}

.search-list-links__text-search {
  text-align: center;
}

.search-list-links {
background: #fff3cd;
border-radius: 5px;
margin-bottom: 10px;
}

.search-list-links li {
  padding: 5px;
}

.wrapper-btn-close-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 15px;
}
.btn-close-sidebar {
  width: 60px;
  height: 60px;
  padding: 5px;
}

.btn-close-sidebar:hover {
  transition: 0.5s;
  background: #ffffff;
  border-radius: 10%;
  cursor: pointer;
}

.btn-close-sidebar:active {
  background: yellow;
}
 // ADAPTIVE



@media (max-width: 767px) {
  .wrapper-sidebar-main-content__left-sidebar {
      position: absolute;
      top: 0;
      height: 100vh;
      width:65%;
  }
}

@media (min-width: 768px) {
  .btn-close-sidebar {
    display: none;
  } 
 }