// шаблон для описания компонента теории

// класс для выделения кода теории
.template-code-component-wrapper {
  background: #e7ecf3;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  display: flex;
  justify-content: center;
}

// класс для заголовка компонента теории
.template-title-component {
  color: #73abfe;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

// класс для заголовка мини компонента теории
.template-title-mini-component {
  color: #73abfe;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

// класс для определения-понятия компонента теории
.template-discription-component {
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  background: #dc3545;
  color: #ffffff;
  font-weight: bold;
}

// класс для обычного текста компонента теории
.template-text-component {
  padding: 15px;
  margin: 15px;
  border: solid 5px powderblue;
}

.template-style-code {
  color: #35495e;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

//  шаблон выделения текста
.template-marker-text-red {
  color: #dc3545;
}

// <span class="template-marker-text-red ">-var</span>

//  шаблон выделения текста жирный
.template-marker-text-red-bold {
  color: #dc3545;
  font-weight: bold;
}

.template-marker-text-blue-bold {
  color: #007bff;
  font-weight: bold;
}

// template line для разделения линия
.template-line {
  width: 50%;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #dc3545;
}

// шаблон адаптивной фотографии
.template-image {
  width: 100%;
  height: auto
}

// шаблон для ссылки- информация более подробная
// .template-wrapper-link-supporting-information {
// display: flex;
// flex-direction: column;
// align-items: center;
// }

// .template-wrapper-title-supporting-information {
// background: #6f42c1;
// color: #f8f9fa;
// padding: 10px;
// margin-bottom: 15px;
// margin-top: 15px;
// }

.template-link-supporting-information {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  background: #6f42c1;
  color: #ffffff;
  padding: 15px;
  border-radius: 15px;
  border: solid 2px #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.template-link-supporting-information:hover {
  transition: 0.5s;
  color: #6f42c1;
  background: #ffffff;
  border: solid 2px #6f42c1;
  border-radius: 15px;
}

// шаблон для ссылки на пример код пена
.template-link-code-pen {
  background: #252830;
  color: #e3e4e8;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 200px;
  box-shadow: 10px 10px 30px 10px rgba(34, 60, 80, 0.2);
}

.template-link-code-pen:hover {
  transition: 0.5s;
  color: #ae63e4;
}

// .template-color-popular-link {
//   color: red;
// }

//  Шаблон ссылки(роутер) на другой компонент если уроки тесно связаны, форма обратной связи и fetch
.template-link-for-similar-topic {
  display: flex;
  justify-content: center;
  padding: 15px;
  max-width: 200px;
  background: #007bff;
  border-radius: 5px;
  color: #ffffff;
  margin: 15px auto;
}

.template-link-for-similar-topic:hover {
  background: #ffffff;
  color: #007bff;
  transition: 0.5s;
  border: 2px solid #007bff;
}

// выделяет одно слово красным
.template-color-word {
  color: #dc3545;
  font-size: 20px;
  font-weight: bold;
}